# Ignorar archivos y carpetas que no necesitamos en el contenedor

# Archivos de entorno de Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Archivos de configuración locales
.env
*.env

# Archivos de control de versiones
.git
.gitignore

# Archivos y carpetas de editor
.vscode/
.idea/
*.swp

# Archivos de Docker
Dockerfile
docker-compose.yml

# Archivos y carpetas de logs
*.log
logs/
debug.log

# Virtual environments
venv/
.env/
*.venv/

# Archivos de bases de datos locales (si los tienes)
*.sqlite3
db.sqlite3
postgres_data